<h1>Authors</h1>
<%= link_to 'Create New', new_author_path %>
<br><br>
<table>
  <tbody>
    <% if @authors.present? %>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% @authors.each do |author| %>
        <tr class="<%= cycle( 'odd_list', 'even_list' )%>">
          <td><%= link_to author.id, author %></td>
          <td><%= link_to author.name, author %></td>
          <td><%= author.email %></td>
          <td><%= author.phone %></td>
          <td><%= author.address %></td>
          <td><%= link_to 'Edit', edit_author_path(author) %> | <%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure you want to delete author?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <span class="no_records" >
        Oops, no authors have been added.
      </span>
    <% end %>
  </tbody>
</table>
